services:
  # You do not need this if you have configured to use your own s3 file storage
  minio:
    restart: on-failure
    image: minio/minio
    env_file:
      - minio.env
    command: server /data --console-address ":9001"

  postgres:
    restart: on-failure
    image: pgvector/pgvector:pg16
    env_file:
      - postgres.env
    volumes:
      - ./migration:/docker-entrypoint-initdb.d

  redis:
    restart: on-failure
    image: redis

  gotrue:
    restart: on-failure
    image: appflowyinc/gotrue:{{ gotrue.image.tag }}
    depends_on:
      - postgres
    env_file:
      - gotrue.env
    ports:
      - 127.0.0.1:9999:9999

  appflowy_cloud:
    restart: on-failure
    image: appflowyinc/appflowy_cloud:latest
    depends_on:
      - postgres
      - redis
      - minio
      - gotrue
    env_file:
      - appflowy_cloud.env
    ports:
      - 127.0.0.1:8000:8000
