GOTRUE_SITE_URL=appflowy-flutter://
GOTRUE_URI_ALLOW_LIST=**
GOTRUE_JWT_SECRET={{ gotrue.jwt.secret }}
GOTRUE_JWT_EXP={{ gotrue.jwt.exp }}
GOTRUE_DB_DRIVER=postgres
API_EXTERNAL_URL={{ scheme }}:{{ fqdn }}
DATABASE_URL=postgres://supabase_auth_admin:root@postgres:5432/postgres
PORT=9999
GOTRUE_EXTERNAL_GOOGLE_ENABLED=true
GOTRUE_EXTERNAL_GOOGLE_CLIENT_ID={{ oauth.google.client_id }}
GOTRUE_EXTERNAL_GOOGLE_SECRET={{ oauth.google.client_secret }}
GOTRUE_EXTERNAL_GOOGLE_REDIRECT_URI={{ scheme }}://{{ fqdn }}/gotrue/callback
